html, body {
  margin: 20px;
}

.draggable-dropzone {
   display: block;
   border: 3px dashed #aaa;
   padding: 20px / 2;
   width: 100%;
   min-height: 20px * 2.5;
   color: #aaa;
   margin-bottom: 20px / 2;
   &.activated {
     border-color: #2ecc71;
   }
   &.deactivated {
     border-color: #e1e1e1;
   }
}
.draggable-item[draggable=true] {
   display: inline-block;
   min-width: 20px;
   min-height: 20px;
   background: #e1e1e1;
   padding: 20px / 4 20px / 2;
   margin: 20px / 4;
   -moz-user-select: none;
   -khtml-user-drag: element;
   cursor: move;
   &:hover {
     background-color: #aaa;
   }
}

.controls {
  margin-top: 20px / 2;
}
